// Fuente Principal
$font_family_url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap';
$font_family_base: 'Roboto', sans-serif;
// Colores de fuente
$text_primary: #fff;
$text_secondary: #605F5E;
$text_variant: #247BA0;
$text_footer: #FB3640;
// Tamaños de Fuente
$font_size_base: 1rem;
// Background colors
$bg_main: #fff;
$bg_footer: #0A2463;
//width content
$width_content: 1075px;