.offers{
  max-width: $width_content;
  margin: ($font_size_base * 4) auto;
}
.offers__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    font-size: ($font_size_base * 1.625);
    color: $text_variant;
    margin: 0;
  }
  hr{
    border: 1px solid $text_secondary;
    margin-left: ($font_size_base * 0.6);
    width: 100%;
  }
}

.offers__body{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: ($font_size_base * 3);

  aside{
    border-radius: 15px;
    box-shadow: 4px 4px 21px -10px #605f5e;
    color: $text_secondary;
    justify-self: flex-end;
    width: 233px;
    
    h5{
      font-size: ($font_size_base * 1.25);
      font-weight: 300;
      margin-top: 29px;
      margin-bottom: 36px;
      text-align: center;
    }
    
    ul{
      padding-left: 0px;
    }

    li{
      list-style: none;
      position: relative;

      &::before{
        content: "";
        border-left: 15px solid $text_variant;
        border-top: 10px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 10px solid transparent;
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        left: 19px;
      }
      a{
        font-weight: 300;
        padding-left: 39px;
      }
    }

    a{
      color: $text_secondary;
      text-decoration: none;
      font-size: ($font_size_base);

      transition: color .3s ease-in-out;

      &:hover{
        color: darken($text_secondary, 10);
      }
    }

    hr{
      margin: 15.5px auto;
      width: 100%;
    }
  }
}

.offers__body__cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: ($font_size_base * 3);
}

.offers__body__card{
  background-position: top center;
  background-size: cover;
  border: 1px solid $bg_footer;
  border-radius: 16px;
  box-shadow: 0px 0px 19px -6px $text_secondary;
  color: $text_primary;
  cursor: pointer;
  width: 233px;
  height: 206px;

  p{
    margin-top: ($font_size_base);
    display: none;
  }

  h4{
    margin: 0px;
  }
  h4, p, a{
    font-size: $font_size_base;
    font-weight: 300;
  }

  a{
    color: $text_primary;

    transition: color .3s ease-in-out;

    &:hover{
      color: darken($text_primary, 10);
    }
  }

  span{
    display: block;
    font-size: ($font_size_base * 1.25);
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }
}

.offers__body__card--filter{
  background-color: #000000AD;
  border-radius: 0px 0px 16px 16px;
  margin-top: 121px;
  padding: 9px 15px 13px;
}

.offers__body__card--Trip-to-Moscow{
  border: 1px solid $text_footer;
  
  .offers__body__card--filter{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    height: 100%;
    padding: 0px 15px;
    h4{
      padding-top: 28px;
    }
    span{
      padding-bottom: 13px;
    }
  }

  p{
    display: block;
  }
}

.offers__body__card--Trip-to-Puerto-Rico{
  border: 1px solid $text_footer;
  
  .offers__body__card--filter{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    height: 100%;
    padding: 0px 15px;
    h4{
      padding-top: 28px;
    }
    span{
      padding-bottom: 13px;
    }
  }

  p{
    display: block;
  }
}

.offers__body__card--Trip-to-Honduras{
  border: 1px solid $text_footer;
  
  .offers__body__card--filter{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    height: 100%;
    padding: 0px 15px;
    h4{
      padding-top: 28px;
    }
    span{
      padding-bottom: 13px;
    }
  }

  p{
    display: block;
  }
}

.offers__body__destination{
  text-align: center;
  color: $text_secondary;
  h4{
    font-size: $font_size_base;
    font-weight: 300;
    margin-bottom: 1.5px;
  }
  h5{
    font-size: $font_size_base;
    font-weight: bold;
    margin-top: 6.5px;
  }
  hr{
    border: 1px solid ($text_secondary);
    width: 233px;
    margin: 0 auto;
  }
}

@import './Offers_media';